.login {
  display: flex;
  width: 100%;
  height: 100vh;
  
  .background-image {
    flex: 1; 
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
  }
  .forgot-pass{
    cursor: pointer;
  }
  .forgot-pass:hover{
    color: #4285f4;
  }
  .login__form {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; 
    padding: 20px;

    .form-wrapper {
      width: 350px;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

    .form-header {
      text-align: center;
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      color: #333;
    }

    .form-divider {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;

      .divider {
        height: 1px;
        background-color: #ccc;
        flex-grow: 1;
      }

      span {
        margin: 0 10px;
      }
    }

    .register-prompt {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      span {
        margin-right: 5px;
        color: #555;
      }

      a {
        color: #1890ff;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
      }
    }
    
    .custom-google-btn {
      display: flex;
      justify-content: center;
    
      button {
        background-color: #4285f4 !important;  
        color: white !important;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        max-width: 320px;
        text-align: center;
        transition: background-color 0.3s ease;
    
        &:hover {
          background-color: #357ae8 !important;  
        }
      }
    
      .google-icon {
        margin-right: 10px;
      }
    }
    
  }
}
