.batch-koi-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  background-image: url('https://i.pinimg.com/736x/c3/f4/82/c3f482b4e93c536de7d3c856b7a7957f.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  position: relative;
}

.batch-koi-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 0;
}

.batch-koi-card {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

.batch-koi-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.batch-koi-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #555;
  margin: 5px 0;
}

.batch-koi-card strong {
  color: #444;
}

.price {
  font-size: 1.2rem;
  color: #e74c3c;
  font-weight: bold;
}

.status {
  font-size: 1rem;
  font-weight: bold;
  color: #27ae60;
}

.status.unavailable {
  color: #e74c3c;
}

.search-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%; 
  position: relative;
}

.search-input {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e26d0e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease-in-out;
}

.search-button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 91, 187, 0.3);
}

.search-button:focus {
  outline: none;
}

.search-button:active {
  transform: scale(0.95);
}

.sort-select {
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
