.koi-assigment{
    margin-top: 70px!important;  
    height: 600px;
    width: 1200px!important;
    .custom-button{
        margin-left: 100px;
    }
}
h2{
    display: flex;
    margin-bottom: 35px;
    align-items: center;
    justify-content: center;
}